/* todo: delete file if not needed */
.sidebar{
    min-height: 400px;
    width: 18%;
    background-color: #914A9C;
    margin-top: -16px;
}
.sidebar ul li {
    text-align: left;
    padding: 10px 0px 10px 10px;
    margin-right: 10px;
}
.sidebar img{
    vertical-align: middle;
    width: 30px;
}
.sidebar label{
    color: white;
    padding-left: 15px;
    font-size: 14px;
}